@import "_variables";
@import "card";
@import "header";

body{
	background-color: $background-color;
	color: $font-color-main;
}

.logo{
	color: $green;
}

.search{
	input{
		background-color: $background-color;
		padding: 10px;
	}
}