@import "_variables";

a{
	&:link, &:visited{
		h3, .card__specs__label{
			transition: .6s;
			color: $yellow;
			border: none;
		}
	}

	&:hover, &:focus{
		h3, .card__specs__label{
			transition: .2s;
			color: $pink;
			border: none;
		}
	}

	&:active{
		h3, .card__specs__label{
			transition: .2s;
			color: $yellow;
			border: none;
		}
	}
}

.card{
	background-color: $blue;
	border: 2px solid $green;
	border-radius: 8px;
	padding: 20px;
	margin-top: 30px;

	h3{
		font-size: 32pt;
		text-align: center;
		margin: 0 0 20px;
	}

	&__image{
		width: 100%;
		border-radius: 1000px;
		border: 2px solid $green;
	}

	&__specs{
		p{
			font-size: 16pt;
			color: $font-color-main;
		}

		&__label{
			width: 200px;
		}
	}
}